body{
  margin:0;
}
  a {
      text-decoration: none;
  }
  h1{
    font-size:45px;
    text-align: center;
    margin:0;
    padding:20px;
  }
  #night_day{
    font-size: 20px;
    margin-left: 35px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:1px solid white;
    background-color: black;
    color: white;
  }
  ul{
    font-size: 20px;
    width:100px;
    margin: 0px;
    margin-left:20px;
    padding:20px;
  }
  p{
    font-size:18px;
    font-style:oblique;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr
  }
  #article{
    padding-left:35px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
