body{
  margin:0;
}
  a {
      text-decoration: none;
  }
  h1{
    font-size:45px;
    text-align: center;
    border-bottom:1px solid black;
    margin:0;
    padding:20px;
  }
  ol{
    font-size: 20px;
    border-right:1px solid black;
    width:100px;
    margin:0;
    padding:20px;
  }
  p{
    font-size:18px;
    font-style:oblique;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr
  }
  #grid ol{
    padding-left:33px;
  }
  #grid #article{
    padding-left:25px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
      ol{
      }
      h1{
        border-right:none;
    border-bottom:none;
  }
  }
