body{
  margin:0;
}
  a {
      text-decoration: none;
  }
  h1{
    font-size:45px;
    text-align: center;
    margin:0;
    padding:20px;
  }
  h1{ position: relative; }

  h1:before, h1:after {
   content: '[';
   display: inline-block;
   position: relative;
   top: 1px;
   height: 100%;
   font-size: 1.25em;
   color: green;

   transition: all 0.5s ease;
}
  h1:after { content: ']'; }

  h1:hover:before {
    transform: translateX(-15px);
}
  h1:hover:after {
    transform: translateX(15px);
}
  #night_day{
    font-size: 20px;
    margin-left: 35px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:1px solid white;
    background-color: black;
    color: white;
  }
  ul{
    list-style: none;
    font-size: 20px;
    width:100px;
    margin: 0px;
    margin-left:20px;
    padding:20px;
  }
  p{
    font-size:18px;
    font-style:oblique;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr
  }
  #article{
    padding-left:35px;
  }
  @media(max-width:800px){
    ul{
      display: block;
      list-style: none;
    }
